
// main.scss

@import 'variables';
@import 'mixins';

  body { 
  font-family: 'Open Sans', sans-serif;
}

// Main Section

section { 
  height: $section-height; 
}
  
  .main {
    @extend section;
    background-color: none;
  }

  .about {
    @extend section;
    background-color: none;
  }

  .contact {
    @extend section;
    background-color: none;
  }

// About Section



// Contact Section



// Nav and footer

nav {

background-color: $header-footer;
color: white;
text-align: right;

  ul {
    list-style: none;
    margin-right: 5%;
  }
  
  li {
    display: inline-block;
    padding: 1em;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

footer {

  @extend nav;
  position: fixed;
  bottom: 0;
  width: 100%

  p {
    margin-right: 5%;
  }

}

