// Variables

$badass: #bada55;
$header-footer: rgba(2,2,2,0.7);
$section-height: 300px;
$mainfont: 'Bungee Shade', cursive;
$mainfontcolor: #D4AF37;
$subfont: 'Bungee Hairline', cursive;
$bodyfont: 'Open Sans', sans-serif;
$subheadercolor: dimgrey; 