body {
  font-family: 'Open Sans', sans-serif; }

section, .main, .about, .contact {
  height: 200px; }

.main {
  background-color: none; }

.about {
  background-color: none; }

.contact {
  background-color: none; }

nav, footer {
  background-color: rgba(2, 2, 2, 0.7);
  color: white;
  text-align: right; }
  nav ul, footer ul {
    list-style: none;
    margin-right: 5%; }
  nav li, footer li {
    display: inline-block;
    padding: 1em; }
  nav a, footer a {
    color: white;
    text-decoration: none; }

footer {
  position: fixed;
  bottom: 0;
  width: 100% p;
    width-margin-right: 5%; }
